#site-header{
  position: fixed;
  top: 0;
  z-index: 90;
  width: 100%;

  a{
    color: #cccccc;
  }

  .mini-nav{
    text-align: right;
    padding: rem-calc(5 10);
    .mini-nav-item{
      display: inline-block;
      margin-left: rem-calc(10);
      text-transform: uppercase;
      font-size: 0.8rem;
    }
  }

  #site-logo{
    position: absolute;
    top: rem-calc(40);
    left: rem-calc(30);
  }

  #site-nav{
    position: absolute;
    top: rem-calc(40);
    right: 0;
    background-color: rgba($black, 0.4);
    @include flex();
    padding: rem-calc(15 30);
    width: 50%;

    .site-nav-item{
      display: inline-block;
      text-transform: uppercase;
      margin-right: rem-calc(30);
    }

    #site-nav-upload{
      position: relative;
      width: rem-calc(300);
      img{
        position: absolute;
        top: rem-calc(-38);
      }
    }
  }
}
