$red: #820000;
$blue: #3384C5;
$darkBlue: #4A6BA9;
$lightBlue: #64A3C1;
$orange: #FF9901;

$color-primary: #7fb466;
$color-primary-hover: #77a960;
$color-body: #31373d;
$color-title: #767676;
$color-border: #a5a5a5;
$color-border-primary: #79ab61;


// greys
$grey5:         lighten(black, 5);
$grey10:        lighten(black, 10);
$grey20:        lighten(black, 20);
$grey30:        lighten(black, 30);
$grey40:        lighten(black, 40);
$grey50:        lighten(black, 50);
$grey60:        lighten(black, 60);
$grey70:        lighten(black, 70);
$grey80:        lighten(black, 80);
$grey90:        lighten(black, 90);
$grey95:        lighten(black, 95);



// spacings
$spacing-small: 10;
$spacing-medium: 20;
$spacing-large: 30;
$spacing-xlarge: 50;
