.products-grid{
  @include flex-grid-row();

  .product-item{
    @include flex-grid-column(3, 10);
    margin-bottom: rem-calc(10);

    .product-item-inner{
      background-color: $white;
      padding: rem-calc(15);
      border-radius: rem-calc(10);
    }

    .product-item-image{
      height: rem-calc(200);
      width: 100%;
      background-position: center center;
      background-size: cover;
    }
  }
}
